# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias
node_modules/

# Build
dist/
dist-ssr/

# Archivos de entorno (con claves API locales)
.env
.env.local
.env.*.local

# Archivos temporales del editor
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Otros
*.local
/AGENTS.md
/GEMINI.md
/TP - Enunciado(1).pdf
/TP - Enunciado - Segunda Entrega.pdf
/Recursos teoricos/
/Informe-TP1-G6+.pdf
/Primera Entrega (Desarrollo Web) - Grupo 06 - Observaciones Prototipos (1).pdf
